/*Base elements*/
body { 
	background-color: #18122B;
	color: #D27685;
	margin: 0px;
}

/*overwriting ul default top-bottom margins of 10px and padding of 40px*/
ul{
	margin: 0px 5px 5px 5px;
	padding: 0px;
	list-style-type: none;
}

button{
	border: 0px;
}

.nav{
	background-color: #18122B;
}




/*Base flex elements */
.flex_container{
	display: flex;
	flex-direction: column;
}

.content{
	display: flex;	
}

.nav_content{
	margin: 0px;
}




/*Navigation Bar*/
.nav_content li{
	display: flex;
	flex: 1.5;
	margin: 0px 2px 2px 2px;
	line-height: 75px;
	font-weight: bold;
	text-align: center;
}

#nav_website_name {
	background-color: #37306B;;
	margin: 0px 5px 5px 2px;
	height: 89px;
	font-size: 2em;
	line-height: 89px;
	flex-grow: 2;
	text-align: center;
	display: inline-block;
}

.nav_content li button{
	background-color: #37306B;
	width: 100%;
	height: 90px;
	font-size: 1.25em;
}

li button:hover{
	text-decoration: none;
	color : black;
	background-color: #9E4784;
}

li button{
	color: #D27685;
}

li button:visited{
	color: #D27685;
}





/*Main Content*/
.current_content{
	display: inline;
	background-color: #37306B;
	margin: 5px 5px 5px 2px;
	flex: 1;
	height: 88vh;
}

.current_content_title{
	text-align: center;
	font-size: 1.5em;
	margin: 0px;
}

.current_content_title h1{
	margin-top: 10px;
}

.example_content{
	font-size: 20px;
	margin: 5px 10px 5px 10px;
	padding: 5px;
}





/*Side bar selection*/
.content_selection{
	display: flex;
	flex-direction: column;
	margin: 3px 2px 0px 0px;
}

#current_page_title{
	background-color: #37306B;
	line-height: 150px;
	font-size: 2.5em;
	display: inline-block;
}

.content_selection li{
	display: flex;
	margin: 2px;
	text-align: center;
	width: 500px;
}

.content_selection li button{
	background-color: #37306B;
	line-height: 100px;
	font-size: 1.5em;
	width: 100%;
}

.content_selection li button:hover{
	text-decoration: none;
	color : black;
	background-color :#9E4784;
}
