/*Base elements*/
body { 
	background-color: #2F2F2F;
	font-family: 'Times New Roman', Times, serif;
	line-height: 2;
	color: #A05FCC;
	margin: 0px;
	overflow: hidden;
}

/*overwriting ul default top-bottom margins of 10px and padding of 40px*/
ul{
	margin: 0px 0px 0px 0px;
	padding: 0px;
	list-style-type: none;
}

h1{
	margin-bottom: 0px;
}

p{
	padding-top: 10px;
	margin-top: 10px;
	font-size: 15px;
}

hr{
	width: 70%;
	margin-top: 30px;
	border-color: #a43cc7;
}

button{
	border: 0px;
	cursor: pointer;
	font-family: 'Times New Roman', Times, serif;
}

.nav{
	background-color: #2F2F2F;
}

.hyperlink{
	color:#A05FCC;
}






/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 34px;

  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #635985;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #A05FCC;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #683DBA;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #683DBA;
  }
  
  input:checked + .slider:before {
	transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }




/*	Scrollbar	*/

::-webkit-scrollbar{
	width: 0.5em;
	height: 0.5em;
}

::-webkit-scrollbar-track{
	background-color: #2F2F2F;
}

::-webkit-scrollbar-thumb{
	background-color: #A05FCC;
}





/* 
   Light colors
	#723697		--body background, nav background
	#8F42BD		--current_content background color, nav content button, content_selection li button
	#635985		--slider background
	#B3B3B3		--button hover, slider background checked, page titles
	#CCCCCC		--font color, slider before, li button color, button visisted


   Dark colors
	#2F2F2F		--body background, nav background
	#494949		--current_content background color, nav content button, content_selection li button
	#635985		--slider background
	#683DBA		--button hover, slider background checked, page titles
	#A05FCC		--font color, slider before, li button color, button visisted
*/


/*Base flex elements */
.flex_container{
	display: flex;
	flex-direction: column;
}

.content{
	display: flex;	
}






/*Navigation Bar*/
.nav_content li{
	display: flex;
	font-weight: bold;
	width : 8vw;
}

#nav_website_name {
	background-color: #683DBA;
	color: #ccc0d4;
	padding-left: 10px;
	height: 61px;
	font-size: 2em;
	line-height: 55px;
	flex-grow: 1.5;
	text-align: left;
	display: inline-block;
	overflow: hidden;
}

#fill_nav{
	flex-grow: 10;
	background-color: #494949;
}

.nav_content li button{
	background-color: #494949;
	width: 100%;
	font-size: 1.25em;
	overflow: hidden;
}

li button:hover{
	text-decoration: none;
	color : black;
	background-color: #683DBA;
}

li button{
	color: #A05FCC;
}

li button:visited{
	color: #A05FCC;
}








/*contacts */
.contact_fill{
	margin-top: 25vh;
}

.contacts{
	display: flex;
	flex-direction: column;
	width: 50px;
	margin: 20px 0px;
}

.linkedin{
	width: 40px;
	vertical-align: middle;
	margin-left: 5px;
}






/*Home page cards */

.home_page_card_section{
	display: flex;
	flex-direction: column;
}

.home_page_card{
	display: flex;
	flex-direction: row;
	text-decoration: none;
	color:#ccc0d4;
	text-align: left;
	margin: 10px 0px;
}

.home_page_card_header{
	margin: 0px;
	padding-left: 20px;
}

.home_page_card_content{
	display: flex;
	flex-direction: column;
}

.home_card_text{
	padding-left: 20px;
	overflow: hidden;
	font-size: 15px;
}




/*Main Content*/
.current_content{
	display: inline;
	background-color: #494949;
	margin: 0px 0px 0px 2px;
	flex: 1;
	height: 89vh;
	overflow-y:auto;
}

.current_content_title{
	position: relative;
	text-align: center;
	font-size: 1.5em;
	margin: 0px;
	padding-top: 2vh;
}

#content_title{
	margin-top: 0px;
	flex-grow: 5;
	text-align: center;

}

.example_content{
	font-size: 20px;
	margin: 0px 0px 5px 0px;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 0px;
	height: 75vh;
	color: #ccc0d4;
	text-align: center;
}

.skills{
	margin: 20px 0px 20px 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	color:#ccc0d4;
	height: 3%;
	line-height: 25px;;
	overflow: hidden;
}

.skillset{
	margin: 0px 5px 0px 5px;
	padding: 0px 3px 0px 3px;
	font-size: 20px;
	border-radius: 5px;
}

#skillset1{
	background-color: #37894c;
}

#skillset2{
	background-color: #c54882;
}

#skillset3{
	background-color: #444dcc;
}

#skillset4 {
	background-color: #c84646;
}

#skillset5{
	background-color: #36352e;
}

#skillset6{
	background-color: #a43cc7;
}

.content_header{
	text-align: center;
	color: #A05FCC;
	font-size: 40px;
	margin: 5px 0px 5px 0px;
}

.content_list{
	margin-left: 5%;;
	list-style-type: circle;
	font-size: 18px;
	text-align: left;
}

.ordered_list{
	list-style-type:decimal;
}

.nested_list{
	padding-inline-start: 20px;
	list-style-type: disc;
}

.deployment_card{
	display: flex;
	flex-direction: column;
	color:#ccc0d4; 
	text-decoration: none;
}


.deployment_card_text{
	flex-direction: row;
}







/*Side bar selection*/
.content_selection{
	display: flex;
	flex-direction: column;
	color: #ccc0d4;
	margin: 0px 2px 0px 0px;
	width: 25vh;
}

.content_selection li button{
	color: #ccc0d4;
}

#current_page_title{
	background-color: #683DBA;

	line-height: 100px;
	font-size: 2.5em;
	display: inline-block;
}

.content_selection li{
	display: flex;
	margin: 0px 0px 0px 0px;
	text-align: center;
}

.content_selection li button{
	background-color: #494949;
	line-height: 70px;
	font-size: 1.35em;
	width: 100%;
}

.content_selection li button:hover{
	text-decoration: none;
	color : black;
	background-color :#683DBA;
}
